@font-face {
    font-family: "OpenSansBold";
    src: url("../../../../Fonts/Poppins-Medium.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("../../../../Fonts/Poppins-Regular.ttf");
}

.mainContainer{
    width: 400px;
    box-shadow: 1px 1px 10px grey;
    border-radius: 20px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.image{
    object-fit: cover;
    width: 400px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.imageTag{
    width: 400px;
    border-radius: 50px;
}

.texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    text-align: justify;
}

.title{
    background-color: rgba(255, 255, 255, .8);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: -74px;
    font-family: "OpenSansBold";
    font-size: 22px;
    letter-spacing: 1px;
    padding: 12px 20px 20px 20px;
    min-height: 60px;
    max-height: 80px;
    font-weight: 600;
    box-shadow: 1px 1px 10px grey;
}

.description{
    margin-top: -22px;
    background-color: #ffffff;
    border-radius: 20px;
    font-family: "Roboto";
    padding: 25px 20px 60px 20px;
    font-size: 15px;
    box-shadow: 1px 1px 10px grey;
}

.hrTag{
    border-bottom: 3px solid #c3c5c9;
    margin: -22px 55px 0 55px;

}

.actionButtons{
    position: absolute;
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.delete , .edit{
    margin: 20px 30px;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-family: "Roboto";
    box-shadow: 6px 8px 10px grey;
}

.delete{
    background-color: red;
    width: 90px;
}

.edit{
    background-color: #0692f1;
    width: 90px;
}