.inActiveNav{
    color: #473D3B;
    font-size: 17px;
    font-family: "Poppins";
    width: 143px;
    padding: 14px 30px 14px 20px;
    border-radius: 8px;
    margin: 12px 0 12px 0;
}

.inActiveNav:hover{
    background-color: #c7d1dd;
}

.activeNav{
    color: #ffffff;
    font-size: 17px;
    font-family: "Poppins";
    background-color: #3A8EFA;
    width: 143px;
    padding: 14px 30px 14px 20px;
    border-radius: 8px;
    margin: 12px 0 12px 0;
}